.person{
  width:20px;
  height:20px;
  display:inline-block;
  background-color:grey;
  margin-right:1px;
  border:1px solid;
}

.display-boxes{
  margin-top:100px;
}

.display-boxes #next{
  margin-bottom:10px;
}

.display-boxes #prev{
  margin-bottom:2px;
}

.userDetails div{
  margin-bottom: 10px;
}
