body {
    margin: auto;
    height: 400px;
    width: 800px;
    border: 1px solid;
    box-shadow: 4px 2px 6px grey;
    background-image:url("/images/carousel-horse.png");
}

.person {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: grey;
    margin-right: 1px;
    border: 1px solid;
}

.userDataDisplay h1 {
   color: #B27C7C;
    text-align: center;
    margin: auto;
    width: 300px;
}

.display-boxes {
    margin: auto;
    margin-top: 100px;
    width: 400px;
    text-align: center;

}

.display-boxes button {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 7px;
    width: 60px;
    background-color: initial;
}

.buttons {
    width: 200px;
    margin: auto;
}

.ajax-data{
  color:#779E73;
}


@keyframes shake {
    10% {
        transform: translate3d(0px, 0px, 0px);
    }
    30% {
        transform: translate3d(2px, 0px, 0px);
    }
    70% {
        transform: translate3d(-2px, 0px, 0px);
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}

.userDetails{
  border: 1px solid;
  box-shadow: 4px 2px 6px grey;
  animation-name: shake;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 2;
  animation-direction: normal;
  animation-fill-mode: forwards;
}


.userDetails div {
    text-align: center;
    margin-bottom: 10px;
}
